/* Navbar */
@media (max-width: 1024px) {
  .container {
    width: 940px;
  }
  .hero-content .heading {
    font-size: 1.5rem;
  }
  .hero-content .sub-heading {
    font-size: 0.8rem;
  }
  .hero-content .hero-btn {
    font-size: 1rem;
    padding: 0.7rem 1.5rem;
  }
  .about-title h2,
  .portfolio-title h2,
  .service-title h2,
  .testimonial-title h2 {
    font-size: 2rem;
  }
  .about-title h2::after,
  .portfolio-title h2::after,
  .service-title h2::after,
  .testimonial-title h2::after {
    font-size: 4rem;
  }
}
@media (max-width: 768px) {
  .container {
    width: 720px;
  }
  .logo a {
    font-size: 20px;
    letter-spacing: 0.1rem;
  }
  .nav-items li a {
    font-size: 14px;
    letter-spacing: 0.07rem;
  }
  .hero-content .heading {
    width: 80%;
    margin: 0 auto;
  }
  .hero-content .sub-heading {
    width: 90%;
    margin: 1.5rem auto;
  }
  .about-title h2,
  .portfolio-title h2,
  .service-title h2,
  .testimonial-title h2 {
    font-size: 1.5rem;
  }
  .about-title h2::after,
  .portfolio-title h2::after,
  .service-title h2::after,
  .testimonial-title h2::after {
    font-size: 3rem;
  }
  .port-intro {
    width: 80%;
  }
  .service-list,
  .testimonial-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 576px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }
  .nav-items {
    display: none;
  }
  .mobile-bars {
    display: block;
  }
  .hero-content .heading {
    width: 95%;
    margin: 0 auto;
  }
  .hero-content .sub-heading {
    width: 95%;
    margin: 1.5rem auto;
  }
  .about-title h2,
  .service-title h2 {
    font-size: 2rem;
  }
  .portfolio-title h2 {
    font-size: 1.7rem;
  }
  .about-title h2::after,
  .service-title h2::after {
    font-size: 3rem;
    width: 100%;
  }
  .port-intro {
    width: 95%;
  }
  .portfolio-title h2::after {
    font-size: 2.5rem;
    width: 100%;
  }

  .testimonial-title h2 {
    font-size: 1.5rem;
  }
  .testimonial-title h2::after {
    font-size: 2rem;
    width: 100%;
  }
  .gallery,
  .service-list,
  .testimonial-list {
    grid-template-columns: repeat(1, 1fr);
  }
}
