/* Navbar */
@media (max-width: 1024px) {
  .container {
    width: 940px;
  }
}
@media (max-width: 768px) {
  .container {
    width: 720px;
  }
  .logo a {
    font-size: 20px;
    letter-spacing: 0.1rem;
  }
  .nav-items li a {
    font-size: 14px;
    letter-spacing: 0.07rem;
  }
}
@media (max-width: 576px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }
  .nav-items {
    display: none;
  }
  .mobile-bars {
    display: block;
  }
}
