* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Courier New", Courier, monospace;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
/* .btn {
  padding: 1rem 2rem;
} */
.container {
  width: 1200px;
  margin: 0 auto;
}
/* Header CSS */
nav {
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  padding: 20px 0;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 99;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  border: 2px solid #1d1d1d;
  padding: 5px;
}
.logo a {
  color: #1d1d1d;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.3rem;
}
.nav-items {
  display: flex;
  align-items: center;
  gap: 25px;
}
.nav-items li {
  position: relative;
}
.nav-items li a {
  color: #1d1d1d;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
.nav-items li a::after {
  content: "";
  background: #1d1d1d;
  width: 100%;
  height: 0.1rem;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: right;
}
.nav-items li a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
.mobile-bars {
  display: none;
  font-size: 20px;
}

/* Hero Section Css */
.hero {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
      45deg,
      rgba(29, 29, 29, 0.65),
      rgba(29, 29, 29, 0.65)
    ),
    url("../images/slide-img1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;

  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-content {
  color: #fff;
  margin-top: 50px;
  text-align: center;
}
.hero-content .heading {
  font-size: 2.5rem;
  letter-spacing: 0.5rem;
}
.hero-content .sub-heading {
  font-size: 1.2rem;
  letter-spacing: 0.5rem;
  margin: 2rem 0;
}
.hero-content .hero-btn {
  background: rgb(238, 111, 8);
  border: none;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1rem 2rem;
  border-radius: 5px;
}
